<div class="container">
    <div class="card">
        <div class="col p-3">
            <h3 class="text-center mt-5">Admin Dashboard</h3>
            <form action="/admin/articles" method="POST" class="">
                <!-- Name -->
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                </div>

                <!-- Adress -->
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" placeholder="Content"></textarea>
                </div>

                <!-- Phone -->
                <div class=" form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="Author">
                </div>

                <!-- Submit Buttton -->
                <button type="submit" class="btn btn-primary">Save Article</button>
            </form>
        </div>
    </div>
</div>