<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Hello, FbW10!</h1>
        <p class="lead">This is a simple NodeJS Application!</p>
        <hr class="my-4">
        <p>It uses ExpressJS, EJS view engine and MySQL as database!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/user" role="button">View articles</a>
        </p>
    </div>
</div>